<div id="bookList">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Books</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="dt-buttons btn-group" style="margin-bottom: 10px;">
                            <a href="book.html?form_id=0" style="color: white"
                               class="btn btn-success rolloverBtn" role="button">Add new</a>
                        </div>
                        <table id="booksTable" class="table table-striped table-hover" style="width:100%;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Isbn</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--{{#array}}-->
                            <tr>
                                <td>{{id}}</td>
                                <td>{{isbn}}</td>
                                <td>{{title}}</td>
                                <td>{{author}}</td>
                                <td>{{publisher}}</td>
                                <td>{{type}}</td>
                                <td>
                                    <a href="#/book/edit/{{id}}" style="color: white" class="btn btn-success rolloverBtn" role="button">Edit</a>

                                </td>
                            </tr>
                            <!--{{/array}}-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>